/* La lezione dove vuoi tu */
@media  screen and (max-width: 419px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img{
        height: 100px;
    }
    .row> h1{
        margin: 5px;
    }
    h3{
        margin-bottom: 0;
    }
    hr{
        margin-top:0;
        margin-bottom: 20px;
    }
    #lezioni .row>.left,
    #lezioni .row>.right{
        width: 100%;
        float: none;
        margin-bottom: 5px;
        font-size: 12px;
    } 
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
        font-size: 12px;
    }   
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top: 0px;
        font-size: 12px;
    }
    #why .row img{
        padding: 0;
    } 
}
/* BONUS */
@media  screen and (max-width:768px) {
    .row{
      width: 100%;
      display: flex;  
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    #lezioni .row>.left,
    #lezioni .row>.right{
      width: 100%;  
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    } 
    
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
    width: 100%;
    margin-top: 10px;
    }  
}